* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v2_67 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_68 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 100px;
  left: 120px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v2_69 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 315px;
  left: 120px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_71 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 251px;
  left: 120px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v2_75 {
  width: 590px;
  height: 497px;
  background: url("../images/MJM.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 730px;
  overflow: hidden;
}
.v2_85 {
  width: 899px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 160px;
  left: 120px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
